*{
    box-sizing: border-box;
}

body{
    margin:0px;
    padding: 0px;
    font-family: calibri;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.purple {
    font-weight: 600;
    color: #5a76fd;
}

.activate {
    background-color: #5a76fd;
}

.main{
    width:100%;
    height:10px;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}


.logo img{
    width: 60px;
    height: 70px;
    object-fit: fill;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
    z-index: 1;
    width:100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav ul{
    display: flex;
    margin:0px;
    padding: 0px;
}
nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    transition: all ease 0.2s;
}

.activate {
    background-color: #5a76fd;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
}

nav .menu-btn {
    display: none;
}

@media screen and (max-width:1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: rgb(230, 218, 114);
        border-bottom: 4px solid #5a76fd;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}

@media screen and (max-with: 720px) {
    footer p,a{
        font-size: 0.9rem;
        text-align: center;
    }
    footer{
        padding: 0px 10px;
    }
}

/* footer */

footer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    border-top: 1px solid rgba(167,167,167,0.2);
}
footer a,
footer p{
    color:#5e5e5e;
}

:root {
    --primary-color: #3598b6;
    --secondary-color: #2CC4ED;
  }

.container {
    max-width: 60rem;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
  }
  
  #heading {
    background: var(--primary-color);
    height: 20rem;
  }
  
  .heading-wrap {
    color: #fff;
    padding: 3rem 0;
    text-align: center;
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  .heading-wrap h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-family: 'Coda Caption', sans-serif;
  
  }
  
  .heading-wrap p {
    position: relative;
    font-size: 1rem;
  }
  
  .heading-wrap p::before {
    content: '';
    position: absolute;
    top: -.7rem;
    left: 50%;
    transform: translate(-50%);
    width: 2.7rem;
    height: 7px;
    background: var(--secondary-color);
  }
  
  .form-box {
    margin: -7rem 2rem 5rem 2rem;
    box-shadow: 0 0 5px 0 rgba(49, 61, 73, 0.7);
    border-radius: 5px;
  }
  
  /* Form Info */
  .form-info {
    background-color: #5a76fd;
    color: #fff;
    padding: 2rem;
    text-align: center;
  }
  
  .form-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .form-info ul li {
    margin-top: .5rem;
    display: flex;
    align-items: center;
  }
  
  .form-info ul li i {
    background: #fff;
    color: var(--secondary-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: .5rem;
  }
  
  /* Form input */
  .form-input {
    padding: 0 2rem;
    background: #fff;
  }
  
  .form-input h3 {
    margin: 1.5rem 0 2rem 0;
    font-size: 1.3rem;
    color: #333;
  }
  
  .form-input form {
    display: grid;
    grid-gap: 1rem;;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .form-input label {
    font-weight: bold;
    color: #222222;
    line-height: 1.6;
    opacity: 0.8;
  }
  
  .form-input input {
    height: 2.5rem;
    text-indent: 1em;
    border: .5px solid #5a76fd;
  }
  
  .form-input form input, .form-input form textarea {
    width: 100%;
  }
  
  .form-input form textarea {
    height: 6rem;
    padding: 1em;
    border: .5px solid #149cc567;
  }
  
  .form-input form .full {
    grid-column: 1 / 3;
  }
  
  .form-input form button {
    width: 100%;
    margin: 1rem 0 2rem 0;
    height: 2.5rem;
    background: #5a76fd;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease
    ;
  }
  
  .form-input form button:hover {
    background: #fff;
    color: #5a76fd;
    border: 1px solid #5a76fd;
  }
  
  /* LARGE SCREEN */
  @media (min-width: 700px) {
    #heading {
      height: 25rem;
    }
  
    .heading-wrap h1 {
      font-size: 2.5rem;
    }
  
    .form-box {
      margin-top: -10rem;
    }
  
    .form-box-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
    }
    
    .form-input {
      grid-row: 1;
      grid-column: 1 / 3;
    }
  
    .form-info {
      grid-column: 3 / 4;
    }
  
    .form-info ul {
      margin-top: 4rem;
    }
  
    .form-info ul li {
      margin-top: 2rem;
    }
  
  }